{% extends 'base.html' %}


  {% block content %}
     <div class="shadow card">
            <div class="card-body">
                <h5 class="card-title">{{task.name}}</h5>
                <p>priority is <b>{{task.priority}}</b></p>
                <p><h2>{{task.date}}</h2></p>
                <a class="btn btn-danger" href="{% url 'delete' task.id %}">DELETE</a>
                <a class="btn btn-success" href="{% url 'update' task.id %}">UPDATE</a>
            </div>
            <br>
     </div>
{% endblock %}










<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.priority}}-->
<!--{% endfor %}-->

<!--</body>-->
<!--</html>-->